<style>
#nav{
  display: table;
  height: 26px;}
#loading{
  display: none;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background-image: url({{request.static_url('web:static/loading.gif')}})}
</style>

<!DOCTYPE html>
<html dir="ltr" lang="en"> 
  <head>
    <title>Bot for Youmu</title>
    <meta charset="utf-8">
    <meta name="author"       content="Leif Coleman">
    <meta name="description"  content="Discord Bot Chat Log Web App">
    <link rel="shortcut icon" href="{{request.static_url('web:static/icon.png')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  </head>
  
  <body>
    <div id="nav">{{html|safe}}<span id="loading"></span></div>
    <pre id="text"></pre>
  </body>
</html>

<script>
function ReadFile(obj)
{
  $("#loading").css("display", "inline-block");
  $.ajax(
  {
    url:      "readfile",
    type:     "POST",
    dataType: "json",
    data:
    {
      file: $(obj).attr("file")
    }, success: function(data)
    {
      $("#loading").css("display", "none");
      $("#text").text(data["text"]);
    }
  });
}
</script>
