<!DOCTYPE html>
<html dir="ltr" lang="en"> 
  <head>
    <title>Testing</title>
    <meta charset="utf-8">
    <meta name="author"       content="Leif Coleman">
    <meta name="description"  content="Discord Bot Chat Log Web App">
    <link rel="shortcut icon" href="{{request.static_url('web:static/icon.png')}}">
  </head>
  
  <body style="margin-bottom:20px;">
    {{debug}}
  </body>
</html>

<script>

</script>
